
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean for Address -->
    <bean id="addressBean" class="com.example.Address">
        <property name="city" value="Pune"/>
    </bean>

    <!-- Bean for Student with dependency injected -->
    <bean id="studentBean" class="com.example.Student">
        <property name="address" ref="addressBean"/>
    </bean>

</beans>



